<!-- templates/home.html-->
<style>
  .iconbar{
    width:50px;
    background-color:lavender;
  }
  .icon-bar a{
    display:block;
    text-align: center;
    padding: 1px;
    transition:all 0.3s ease;
    color:white;
    font-size: 30px;
    font-family:Impact, Charcoal,sans-serif;
  }

  .icon-bar a:hover {
    background-color:grey;
  }

  .active {
    background-color:white;
    font-family:Impact, Charcoal,sans-serif;
  }
  body{
    background-color:rgb(46, 46, 45);
} 

  input[type=button], input[type=submit]{
    background-color:lightblue;
    border: none;
    color: darkblue;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;

}
  input[type=text] {
    background-color:transparent;
    border:none;
    border-bottom: 3px solid gray;
    color: whitesmoke;
  }


</style>
<br /><br />

 
{% load static %}
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="{% static "qr/globo_logo3.jpg" %}" style="width:7%" >    

<center>
  <br /><br />
<h1 style="color:whitesmoke" >Gerador de QR Code</h1><br />
<body>

<form method="POST" action="">
{% csrf_token %}
{{ form.as_p }}
<p style="color:gray">URL para QR Code:<input type="text" name="handle" value=""></p>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input type="submit" name="btn" value="G1"></P>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input type="submit" name="btn" value="GE"></p>
  
</form> 
 
<br />
<a style="color:cornflowerblue"href="{{result}}">QrCode Gerado!</a> </center>
</body>