<!-- templates/home.html-->
<style>
  .iconbar{
    width:90px;
    background-color:gray;
  }
  .icon-bar a{
    display:block;
    text-align: center;
    padding: 5px;
    transition:all 0.3s ease;
    color:white;
    font-size: 30px;
    font-family:Impact, Charcoal,sans-serif;
  }

  .icon-bar a:hover {
    background-color:grey;
  }

  .active {
    background-color:gray;
    font-family:Impact, Charcoal,sans-serif;
  }
  body{
    background-color: #0e0d0d
} 

  input[type=button], input[type=submit]{
    background-color:blue;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;

}
  input[type=text] {
    background-color:transparent;
    border:none;
    border-bottom: 3px solid gray;
    color: whitesmoke;
  }


</style>
<br /><br />

<div class="icon-bar">
  <a class="active">  
    <p style="color:black">Tecnologia Brasília</p>
  </a>  
</div>

<center>
  <br /><br />
{% load static %}
<img src="{% static "qr/globo_logo3.jpg" %}" style="width:20%" >    
<h1 style="color:whitesmoke" >Gerador de QR Code</h1><br />
<form method="POST" action="">
{% csrf_token %}
{{ form.as_p }}<br />

<p style="color:gray">Insira URL para QR Code:</p><input type="text" name="handle" value="">
<input type="submit" value="Enviar"><br /></form>
 
<br />
<a style="color:cornflowerblue"href="{{result}}">QrCode Gerado!</a> </center>
