<!-- templates/home.html-->

<link rel="stylesheet"
href="https://fonts.googleapis.com/css?family=Lobster&effect=brick-sign">

<style>
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Lobster', serif;
    font-style: normal;
}

html, body{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

  body{
    background-color:whitesmoke;
} 

  input[type=submit]{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    cursor:pointer;
    color: whitesmoke;

}
  input[type=text] {
    width: 40%;
    background-color:transparent;
    border:none;
    border-bottom: 3px solid #2F4454;
    color: black;
  }

</style>
<br /><br />

<center> 
{% load static %}
<img src="{% static "qr/index.jpeg" %}" style="width:16%" >    


<h1 style="color:#1C3334" >Gerador de QR Code</h1><br />
<body>
<br />
<br />
</center>
<form method="POST" action="">
{% csrf_token %}
{{ form.as_p }}
&emsp;&emsp;&emsp;<p style="color:#2F4454">URL para QR Code:<input type="text" name="handle" value="">
<img src="{% static "qr/g1.png" %}" style="width:5%" >
<input type="submit" name="btn" value="G1" onclick="ShowQR()"></p>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="{% static "qr/ge.png" %}" style="width:5%" >
<input type="submit" name="btn" value="GE" onclick="ShowQR()">
<img id="bigpic" src="{{result}}"/> 
</form>
<!-- <a style="color:cornflowerblue"href="{{result}}">QrCode Gerado!</a> -->
<br />
  <script type="text/javascript">
     function ShowQR(){
      document.getElementById('bigpic').src = pic.replace('300x300', '255,255');
    }
  </script>

</body>
